.pencil{
    height:600px;
    width:600px;
    background-color:rgb(2, 2, 37);
    border-radius:50%;
    margin-left:470px;
    margin-top:70px;
    box-shadow: 2px 2px 24px #000000;
    
}
.top{
    height:450px;
    width:450px;
    background-color:white;
    border-radius:50%;
     margin-left:76px;
    margin-top:59px; 
    
    box-shadow: inset 2px 2px 14px black;
}
.inner{
    height:250px;
    width:250px;
    background-color:white;
 
    border-radius:50%;
     margin-left:178px;
    margin-top:-30px; 
    /* box-shadow: -1px 1px 4px rgba(5, 16, 19, 0.2), -1px 1px 4px rgba(5, 16, 19, 0.2), -1px 1px 4px rgba(11, 36, 45, 0.9), -1px 1px 4px rgba(5, 16, 19, 0.9), inset -1px 1px 4px rgba(11, 36, 45, 0.3), inset -1px -1px 4px rgba(5, 16, 19, 0.5); */
}
.stroke{
    border-left: 6px solid black;
    height: 175px;
    margin-left:220px;
    position:absolute;
    margin-top:80px;
    
    
}
.stroke2{
    border-left: 6px solid black;
    height: 125px;
    margin-top:217px;
    margin-left:272px;
    position:absolute;
    transform:rotate(120deg);
    
}
.stroke3{
    border-left: 6px solid black;
    height: 140px;
    margin-top:214px;
    margin-left:160px;
    position:absolute;
    transform:rotate(240deg);
    
}